body {
    text-align: center;
    font-family: Arial;
    background-color: #222;
    color: white;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
